html {
	--line-height: 12px;
	--nth-lines-trunc: 6;
}

body {
	padding: 20px;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

.logo {
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#search-input {
	width: 100%;
	max-width: 1240px;
	min-width: 350px;
	margin: 0 auto;
	background: #e7e7e7;
	border: none;
	font-size: 18px;
	height: 69px;
}

.form-inline {
	position: relative;
	max-width: 1240px;
	margin: 0 auto;
}

#ingredients-search {
	background: #3282f7;
	font-size: 18px;
	color: #fff;
}

#ingredients-search:hover {
	background: #3281f7d5;
}

#appareils-search {
	background: #6bd9a4;
	font-size: 18px;
	color: #fff;
}

#appareils-search:hover {
	background: #6bd9a4d5;
}

#ustensiles-search {
	background: #ed6454;
	font-size: 18px;
	color: #fff;
}

#ustensiles-search:hover {
	background: #ed6354d8;
}

.search {
	position: absolute;
	right: 15px;
	width: 32px;
	cursor: pointer;
}

.btn-group {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	display: flex;
}

.ingredients,
.appareils,
.ustensiles {
	margin: 30px 30px 30px 0px;
	position: relative;
}

.form-control {
	border: none;
	width: 170px;
	height: 69px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	position: relative;
}

.form-control::placeholder {
	color: white;
}

.bi-chevron-down {
	width: 16px;
	margin-left: 20px;
	position: absolute;
	top: 25px;
	right: 10px;
	cursor: pointer;
}

.cards {
	max-width: 1240px;
	margin: 0 auto;
	display: flex;
	gap: 45px;
	flex-direction: row;
	flex-wrap: wrap;
}

.card {
	width: 380px;
	height: 364px;
	display: flex;
	border: none;
}

.card-img-top {
	background: #c7bebe;
	width: 380px;
	height: 178px;
	border-radius: 5px 5px 0 0;
}
.detail {
	display: flex;
	flex-direction: column;
	height: 186px;
	border-radius: 0 0 5px 5px;
}

.card-body {
	display: flex;
	background: #e7e7e7;
	width: 100%;
	padding: 15px 20px;
}

.card-text {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
	max-width: 250px;
}

.list-group {
	width: 171px;
	height: 105px;
}

.list-group-item {
	background: none;
	border: none;
	padding: 0;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
}

.time {
	display: flex;
	background: #e7e7e7;
	width: 100%;
	padding: 20px 20px 0 20px;
	justify-content: space-between;
}

.delay {
	display: flex;
	font-size: 18px;
	height: 18px;
	line-height: 22px;
	font-weight: 600;
}

.delay span {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1px;
}

.timing {
	display: flex;
	justify-content: center;
	padding-left: 5px;
}

.explain {
	width: 171px;
	height: 109px;
}

.text-truncate {
	line-height: var(--line-height);
	max-height: calc(var(--line-height) * var(--nth-lines-trunc));
	overflow: hidden;
	position: relative;
	font-size: 12px;
	align-items: start;
}

.text-truncate::after {
	content: "...";
	position: absolute;
	bottom: 0;
	right: 0;
}

/* -------------------------------- dropdown -------------------------------- */
.ingredients,
.appareils,
.ustensiles {
	width: 170px;
	height: 69px;
	max-width: 667px;
	border-radius: 5px;
	overflow: hidden;
}

.ingredients {
	background: #3282f7;
}

.appareils {
	background: #6bd9a4;
}

.ustensiles {
	background: #ed6454;
}

.btn-top {
	padding: 20px;
	width: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
	color: #f1f1f1;
}

.btn-top svg {
	width: 16px;
}

.open,
.open2,
.open3 {
	padding: 20px;
	width: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
	color: #f1f1f1;
}

.open {
	background: #3282f7;
}

.open2 {
	background: #6bd9a4;
}

.open3 {
	background: #ed6354d8;
}

.open-svg {
	width: 16px;
	transform: rotate(180deg);
}

.blocLinks-ingredients,
.blocLinks-appareils,
.blocLinks-ustensiles {
	padding: 0px;
	transition: height 0.2s ease-in-out;
}

.blocLinks-ingredients li,
.blocLinks-appareils li,
.blocLinks-ustensiles li {
	width: 200px;
	list-style-type: none;
	font-size: 18px;
	color: #f1f1f1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 10px 10px 10px 0;
}

.tags,
.tags2,
.tags3 {
	display: flex;
	width: 100%;
	max-width: 667px;
	max-height: 390px;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 20px;
	overflow: auto;
}

.list-item-ingredients,
.tags-item-ingredients,
.list-item-appareils,
.tags-item-appareils,
.list-item-ustensiles,
.tags-item-ustensiles {
	background: none;
	border: none;
	font-size: 12px;
	height: 100%;
	line-height: 12px;
	cursor: pointer;
}

.tags-card {
	max-width: 1240px;
	margin: 20px auto 0;
}

.tags-card-ul {
	padding-left: 0;
	margin-bottom: 0;
}

.notif {
	margin-right: 10px;
	margin-bottom: 10px;
}

.close {
	border: 2px solid #fff;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-top: 4px;
	color: #fff;
}

.fa-sharp .fa-solid .fa-xmark {
	width: 10px;
	height: 10px;
	color: black;
	font-size: 12px;
}

.btn-primary {
	background: #3282f7;
	border: none;
}

.btn-primary:hover {
	background: #3281f7d5;
}

.btn-success {
	background: #6bd9a4;
	border: none;
}

.btn-success:hover {
	background: #6bd9a4d5;
}

.btn-danger {
	background: #ed6454;
	border: none;
}

.btn-danger:hover {
	background: #ed6354d8;
}

.closeLi {
	display: none;
}

.error {
	margin-top: 50px;
}
