body {
	padding: 20px;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

.logo {
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#search-input {
	width: 100%;
	max-width: 1240px;
	min-width: 350px;
	margin: 0 auto;
	background: #e7e7e7;
	border: none;
	font-size: 18px;
	height: 69px;
}

.form-inline {
	position: relative;
	max-width: 1240px;
	margin: 0 auto;
}

#ingredients-search {
	background: #3282f7;
	font-size: 18px;
	color: #fff;
}

#ingredients-search:hover {
	background: #3281f7d5;
}

#appareils-search {
	background: #6bd9a4;
	font-size: 18px;
	color: #fff;
}

#appareils-search:hover {
	background: #6bd9a4d5;
}

#ustensiles-search {
	background: #ed6454;
	font-size: 18px;
	color: #fff;
}

#ustensiles-search:hover {
	background: #ed6354d8;
}

.search {
	position: absolute;
	right: 15px;
	width: 32px;
	cursor: pointer;
}

.btn-group {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	display: flex;
}

.ingredients,
.appareils,
.ustensiles {
	margin: 30px 30px 30px 0px;
	position: relative;
}

.form-control {
	border: none;
	width: 170px;
	height: 69px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.form-control::placeholder {
	color: white;
}

.bi-chevron-down {
	width: 16px;
	margin-left: 20px;
}

.cards {
	max-width: 1240px;
	margin: 0 auto;
	display: flex;
	gap: 50px;
	flex-direction: row;
	flex-wrap: wrap;
}

.card {
	width: 380px;
	display: flex;
	border-radius: 5px;
}

.card-img-top {
	background: #c7bebe;
	width: 380px;
	height: 178px;
	border-radius: 5px 5px 0 0;
}
.detail {
	display: flex;
}

.card-body {
	background: #e7e7e7;
	width: 45%;
	height: 178px;
	padding: 15px 0px 15px 15px;
}

.card-text {
	font-size: 16px;
	margin-bottom: 10px;
}

.list-group {
	width: 160px;
}

.list-group-item {
	background: none;
	border: none;
	padding: 0;
	font-size: 12px;
	height: 100%;
	line-height: 12px;
}

.time {
	background: #e7e7e7;
	width: 45%;
	height: 178px;
	padding: 15px 15px 15px 0;
}

.delay {
	display: flex;
	justify-content: end;
	align-items: start;
	height: 30px;
	line-height: 18px;
}

.delay span {
	text-align: right;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1px;
}

.timing {
	width: 45%;
	font-size: 16px;
	display: flex;
	justify-content: center;
	font-weight: 500;
	padding-left: 5px;
}

.explain {
	width: 160px;
	height: 109px;
	font-size: 12px;
	line-height: 12px;
}

.text-truncate {
	display: block;
	height: 85px;
	text-overflow: ellipsis;
}

/* -------------------------------- dropdown -------------------------------- */
.ingredients,
.appareils,
.ustensiles {
	width: 170px;
	max-width: 667px;
	border-radius: 5px;
	overflow: hidden;
}

.ingredients {
	background: #3282f7;
}

.appareils {
	background: #6bd9a4;
}

.ustensiles {
	background: #ed6454;
}

.btn-top,
.btn-top2,
.btn-top3 {
	padding: 20px;
	width: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
	color: #f1f1f1;
}

.btn-top svg {
	width: 16px;
}

.open,
.open2,
.open3 {
	padding: 20px;
	width: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
	color: #f1f1f1;
}

.open {
	background: #3282f7;
}

.open2 {
	background: #6bd9a4;
}

.open3 {
	background: #ed6354d8;
}

.open svg,
.open2 svg,
.open3 svg {
	width: 16px;
	rotate: 180deg;
}

.bloc-links,
.bloc-links2,
.bloc-links3 {
	padding: 0px;
	transition: height 0.2s ease-in-out;
	height: 0;
}

.bloc-links li,
.bloc-links2 li,
.bloc-links3 li {
	width: 100px;
	list-style-type: none;
	margin-right: 120px;
	font-size: 18px;
	color: #f1f1f1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.bloc-links li:last-child,
.bloc-links2 li:last-child,
.bloc-links3 li:last-child {
	padding-bottom: 25px;
}

.tags,
.tags2,
.tags3 {
	display: flex;
	width: 100%;
	max-width: 667px;
	max-height: 397px;
	flex-direction: column;
	flex-wrap: wrap;
}
